<div class="private-session card card-<%= size  %>">
<h3><%= private_session_card.student_name %></h3>
<div class="ocurred-at text-right"><%= private_session_card.ocurred_at_hour %> -
  <%= private_session_card.ended_at &&
        private_session_card.ended_at.strftime("%l:%M%P") %></div>

<% if size == "lg" %>
  <h4>Notes</h4>
  <div class="notes"><%= private_session_card.notes %></div>
  <hr>

  <h4>Homework</h4>
  <div class="homework"><%= private_session_card.homework %></div>
<%- end %>

<div class="text-right">
  <%= link_to "edit", edit_instructors_private_session_path(private_session_card), class:"btn btn-primary" %>
  <% if size == 'sm' %>
    <%= link_to "view", [:instructors, private_session_card], class:"btn btn-secondary" %>
  <%-end %>
</div>
</div>
