<div id="fullstack" name="fullstack" class="section">
  <div class="container white">
    <div class="row">
      <div class="page-header">
        <h2>Full Stack Web Developer <small>(HTML5/CSS &amp; JavaScript &amp; Ruby on Rails)</small></h2>
      </div>

      <h3>Complete in only 12-36 weeks depending on your pacing</h3>
      <h4><%= render 'enrollments/pricing' %></h4>
      <p>In this track you will learn the languages the web is 
         written in and in doing so, build several applications using
         a mix of modern web development technologies.</p>

      <p>In Today's world, there is little division between the front-end
         and the back-end. The database is an important key piece of
         building software, but unless it is responsive, meaning it
         scales well on different screen-sizes, no one will use it.</p>

      <p>The world of web application development is heading hard
         towards JavaScript as a one-all solution, so our course is heavy
         on the JavaScript.</p>

      <p>That being said, there is nothing quite like Ruby for it's power
         and simplicity for use in Object Oriented Programming, so we still
         teach an excellent Ruby and Rails foundation as well.

      <p><strong>Click a technology</strong> to learn more about it:</p>

      <div class="technologies">
        <a href="#" data-featherlight="#lbGit"><img src="<%= asset_path('technologies/git.png') %>"></a>
        <a href="#" data-featherlight="#lbHtml"><img src="<%= asset_path('technologies/html.png') %>"></a>
        <a href="#" data-featherlight="#lbCss"><img src="<%= asset_path('technologies/css.png') %>"></a>
        <a href="#" data-featherlight="#lbJs"><img src="<%= asset_path('technologies/javascript.png') %>"></a>
        <a href="#" data-featherlight="#lbRuby"><img src="<%= asset_path('technologies/ruby.png') %>"></a>
        <a href="#" data-featherlight="#lbRails"><img src="<%= asset_path('technologies/rails.png') %>"></a>
        <a href="#" data-featherlight="#lbPostgres"><img src="<%= asset_path('technologies/postgres.png') %>"></a>
      </div>

    </div>
  </div>
</div>
