<div id="howitworks" name="howitworks" class="section">
  <div class="container">
    <div class="row">
      <h2>How it works</h2>
      <div class="col-md-12">
        <p>Our method is a little different from the rest of the developer bootcamps. At the Devschool we try a lot less hard to give you a 'school' experience and much harder to give you a feel for what it is actually like to be a Jr. Web Developer.</p>


        <p>We train you to become a Jr. Web Developer through a hands-on real-world learning process pioneered in Germany. Here is how it works:</p>

        <p>You will attend several private one on one sessions each week where your Instructor will show you, rather than tell you, how to build your web application features. During that time he will open up your world of object oriented and functional programming concepts while also teaching you the basics. He will train you in expert tools right away, giving you the edge when you leave us and go to your first job.</p>

        <p>There are several group sessions that happen throughout the week, where your Instructor demonstrate to you real software development by working on one of the many web applications the Devschool currently is building or maintaining. These include not only the software that powers the very school itself, but also the websites of our NGO partners.</p>

        <p>Pair programming is an integral part of Devschool. You will be pairing initially just with your instructor for private and group sessions, however late on as you get more comfortable with the tools of your new trade, you will be working with other students on your own projects.</p>

        <h3>Move at your own pace, in your own home</h3>
        <p>Not everyone learns at the same speed and ultimately, each person's
           journey is their own to take. We help you pace yourself based on your
           availability and your goals!</p>
        <table class="pace-options-table">
          <tr>
            <th colspan=4>Pacing options</th>
          </tr>
          <tbody>
            <tr class="pace-option">
              <td class="pace-option-pace hidden-xs">Aggressive pace</td>
              <td class="pace-option-weeks">12 weeks</td>
              <td class="pace-option-hours">35 hours/wk</td>
              <td class="pace-option-1on1s">3 private sessions/wk</td>
            </tr>
            <tr class="pace-option">
              <td class="pace-option-pace hidden-xs">Moderate pace</td>
              <td class="pace-option-weeks">18 weeks</td>
              <td class="pace-option-hours">22 hours/wk</td>
              <td class="pace-option-1on1s">2 private sessions/wk</td>
            </tr>
            <tr class="pace-option">
              <td class="pace-option-pace hidden-xs">Relaxed pace</td>
              <td class="pace-option-weeks">36 weeks</td>
              <td class="pace-option-hours">12 hours/wk</td>
              <td class="pace-option-1on1s">1 private session/wk</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
        <p>At the Devschool, we don't coddle you with inefficient, beginner
           tools. We don't think you are incapable of learning the real shit
           right off the bat. We ease you directly into tools that will make
           you not only look like a digital wizard to other coders, but be
           more efficient as well!</p>
      <div class="col-md-5">
        <ul class="checks">
          <li>Master powerful tools like bash and vim</li>
          <li>Get comfortable with the unix shell</li>
          <li>Learn to automate tasks and scrape data</li>
          <li>Get the edge you need to get the job</li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="checks">
          <li>Access you instructor 4 days a week!</li>
          <li>Attend Weekly private lessons</li>
          <li>Attend Weekly group session</li>
          <li>Pair program with other students</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Online collaboration is simple</h2>
        <img class="img-responsive" src="<%= asset_path('collaboration.png') %>" class="collaboration-img"/>
        <p>We use a combination of screen and terminal sharing and audio chat in order
        to collaborate on the multiple projects you will build while at Devschool. 
        What kind of projects? Well that entirely depends on what interests you. At
        Devschool we don't have a canned curriculum, instead you are trained by building
        real applications under the guidance of your instructor!</p>
      </div>
    </div>

    <h2>Additional course-ware provided by our friends at CodeSchool</h2>
    <div class="row">
      <div class="col-md-3"><img src="<%= asset_path('codeschool/git-pt-1.png') %>"    class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/html-pt-1.png') %>"   class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/css-pt-1.png') %>"    class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/rails-pt-1.png') %>"  class="img-responsive courseware-img"/></div>
    </div>
    <div class="row">
      <div class="col-md-3"><img src="<%= asset_path('codeschool/js-pt-1.png') %>"     class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/sql-pt-1.png') %>"    class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/html-email.png') %>"  class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/jquery-pt-1.png') %>" class="img-responsive courseware-img"/></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Use the computer you already have</h2>
        <img class="img-responsive" src="<%= asset_path('ossupport.png') %>" />
      </div>
    </div>
  </div>
</div>

