<div id="lbGit" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/git.png') %>">
  <p><strong>Git</strong> is a tool used by developers to manage their projects in a 
  <strong>safe manner</strong> and it provides an important mechanism
  to <strong>backup code</strong> and <strong>retrieve lost work</strong>.</p>
  <p>It also allows <strong>multiple developers</strong> to work together on the same files at
  the same time <strong>without interfering</strong> with each other's work. You can even
  <strong>work offline</strong> and update when you get
  a connection.</p>
  <p>Since <strong>Git</strong> is a "cornerstone" tool, we start off teaching
  it right away, along with the <strong><a href="#" data-featherlight="#lbUnix">
      UNIX Terminal</a></strong> and <strong><a href="#" data-featherlight="#lbVim">
      Vim</a></strong>.</p>
</div>

<div id="lbHtml" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/html.png') %>">
  <p><strong>HTML</strong> is the backbone of the Interwebs. It is the <strong>structure and
    content</strong> element. You are right now reading words wrapped in <strong>
    HTML</strong>.</p>
  <p><strong>HTML5</strong> makes huge strides in adding functionality to the webs like
  <strong>native video and audio</strong> without the use of Flash. There is even
  a spec to handle video conferencing called WebRTC!</p>
</div>

<div id="lbCss" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/css.png') %>">
  <p>If HTML is the backbone of the interwebs, than <strong>CSS</strong> is the
  clothes, hair, and possibly make-up, if you are into that.</p>
  <p>But <strong>CSS</strong> is more than just the color and typeface. It is also
  responsible for <strong>responsive design</strong> and element positioning in
  general. It is an invaluable skill when <strong>selling yourself</strong>
  as a new Web Developer.</p>
</div>

<div id="lbJs" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/javascript.png') %>">
  <p><strong>JavaScript</strong> is THE language of the Internet. It is the <strong>
    only</strong> scripting language native to all browsers. If you want your app
  to something more than just sit there and look pretty you need <strong>JavaScript
  </strong> to get a job today in Web Development.</p>
  <p>The <strong>number one skill today</strong> if you want a job in programming is
  <strong>JavaScript</strong>. More than <strong>Ruby</strong>, more than <strong>
    Rails</strong>, and more than <strong>PHP</strong>.</p>
  <p>Along with interaction, <strong>JavaScript</strong> provides mechanisms to
  request data from another location on the Internet. You can use it to parse
  <strong>NASA, NASCAR, and NASDAQ</strong> data.</p>
</div>

<div id="lbRuby" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/ruby.png') %>">
  <p>Ruby is a <strong>server-side language</strong> and it is used to work
  with databases and write complex software in a <strong>friendly, readable
  </strong> manner.</p>
  <p>In fact, <strong>Ruby</strong> is a programming language <strong>designed</strong>
  for <strong>optimizing developer joy!</strong> It is easy to pick up and is
  powerful enough to take years to master.</p>
  <p>At Devschool we offer <strong>advanced courses</strong> in Ruby and 
  <strong>Ruby on Rails</strong> as well!</p>
</div>

<div id="lbUnix" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/terminal.png') %>">
  <p>The main underpinning of all web software is the network protocols that lie
     underneath. These are all based on standards set by UNIX. UNIX also comes
     with an amazing "bag of tricks", little, powerful programs that can be
     "chained" together to create amazing functionality.</p>
</div>

<div id="lbVim" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/vim.png') %>">
  <p>Vim is an amazing way to edit text of all kinds, from books, to software code. It
  is a highly adaptable <strong><a href="#" data-featherlight="#lbUnix">
  UNIX Terminal</a></strong> program that can be run locally, or even over
  a network.</p>
</div>

<div id="lbRails" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/rails.png') %>">
  <p>Ruby on Rails was a game-changer. It allows web applications to be built 
  much faster and with a more reliable common interface. It was built on the power
  and ellegance of <a href="#" data-featherlight="#lbRuby"><img src="<%= asset_path('technologies/ruby.png') %>"></a></p>
</div>

<div id="lbPostgres" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/postgres.png') %>">
  <p>Postgres is the industry gold standard SQL engine. SQL means <em>S</em>tructured
     <em>Q</em>uery <em>L</em>anguage, or more simply, a way to search and return
     data stored in a Relational Database.</p>
</div>
