<div id="home" name="home" class="section">

<header class="clearfix random-person home-slide">
  <div class="well">
    <h1>100% of our Grads have jobs!</h1>
    <h2>Our policy is Enrollment to Hire and we mean it!</h2>
    <p>We have a network of NGO partnerships to get you your first job</p>
    <h4> <span class="article_source">Meet NewStoryCharity</span>
      - <a class="article_link" href="https://newstorycharity.org"
                                target="_blank">They help organize and fund houses for homeless families, and we help them do it. You could work there!</a></h4>
  </div>
</header>

<%= render 'full_stack' %>

<div class="clearfix random-person home-slide">
  <div class="well">
    <h1>No College Degree Required</h1>
    <h2>Welcome to your new life as a Web Developer</h2>
    <p>In as little as 12 weeks you could get a job for as much as $50,000 a year! </p>
    <h4>Check out this <strong>article</strong> from 
      the <span class="article_source">New York Times</span>
      - <a class="article_link" href="http://www.nytimes.com/2015/07/29/technology/code-academy-as-career-game-changer.html"
                                target="_blank">As Tech Booms, Workers Turn to Coding for Career Change</a></h4>
  </div>
</div>

<%= render 'how_it_works' %>

<div class="clearfix random-person home-slide">
  <div class="well">
    <h1>No Mountain of Debt Required</h1>
    <h2>Web Developers are hired on Talent, not degrees</h2>
    <p>You don't need a <strong>mountain of debt</strong> or a <strong>college degree</strong> to get hired.</p>
    <h4> <span class="article_source">Times - Business</span>
      - <a class="article_link" href="http://business.time.com/2013/05/21/the-7000-computer-science-degree-and-the-future-of-higher-education/"
                                target="_blank">The $7,000 Computer Science Degree — and the Future of Higher Education</a></h4>
  </div>
</div>

<%= render 'your_instructor' %>

<div class="clearfix random-person home-slide">
  <div class="well">
    <h1>We teach you to code like a hacker!</h1>
    <h2>Expert tooling and training on day 1</h2>
    <p>You will be coding in the Terminal like a pro from the very first week of your study at the Devschool. You will learn VIM.
       By the end of your first month you will be comfortable chaining a few UNIX commands together to make magic
       happen!</p>
  </div>
</div>

<%= render 'faq' %>

<h3>We strive for diversity and to foster the Devschool Culture</h3>

<div class="clearfix random-person home-slide">
  <div class="well">
    <h1>Culture is VERY important to us!</h1>
    <h2>Wanting to become great is the best quality</h2>
    <p>Acceptance to the school is based on conversations you will have with a current student,
       Mae, our Student Resources Director, and then your future Instructor. Along the way we
       will discuss culture answer your questions and you get to hear first hand how it works from a student.</p>
  </div>
</div>


<%= render 'reviews' %>

<div id="apply" name="apply" class="section padded">
  <div class="container">
    <div class="row">
      <div class="page-header text-center">
        <h2>Apply to the program today</h2>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <%= render 'enrollments/form' %>
      </div>
    </div>
  </div>
</div>

<%= render 'techs' %>
