<%- model_class = Enrollment -%>

<%= form_for Enrollment.new(params[:enrollment]), html: { :class => "form-horizontal enrollment" } do |f| %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label',
                       value: 'Your full name' %>
    <%= f.text_field :name, class: 'form-control' %>
    <div id="enrollment_name_error" class="input-error-message"></div>
  </div>

  <div class="control-group">
    <%= f.label :email, class: 'control-label',
                        value: 'Contact email' %>
    <%= f.text_field :email, class: 'form-control' %>
    <div id="enrollment_email_error" class="input-error-message"></div>
  </div>

  <div class="control-group">
    <%= f.label :github_url, class: 'control-label',
                        value: 'Github url' %>
    <%= f.text_field :github_url, class: 'form-control' %>
    <div id="enrollment_github_url_error" class="input-error-message"></div>
  </div>

  <div class="control-group">
    <%= f.label :why, class: 'control-label',
                      value: 'Why do you want to become a web developer?' %>
    <%= f.text_area :why, class: 'form-control', rows: 6 %>
    <div id="enrollment_why_error" class="input-error-message"></div>
  </div>

  <div class="control-group">
    <h3>What pacing option do you want?</h3>
    <%- Enrollment::WEEK_OPTIONS.each_with_index do |w, i| %>
      <div class="opt-radio">
        <input type="radio" name="enrollment[weeks]" 
                            id="enrollment_weeks_<%= w %>" value="<%= w %>">
        <label><%= w %> weeks | <%= Enrollment::PRIVATE_SESSIONS[i] %> private sessions/wk</label>
      </div>
    <%- end %>
  </div>

  <div class="control-group">
    <h3>Flexible education funding!</h3>
    <div class="opt-radio">
      <input type="radio" name="enrollment[pay_option]" 
             id="enrollment_pay_option_prepay" value="prepay">
      <label>Pay <%= number_to_currency(Enrollment::BASE_PRICE) %> up front and save $1000 dollars!</label>
    </div>

    <div class="opt-radio">
      <input type="radio" name="enrollment[pay_option]" 
      id="enrollment_pay_option_payments" value="payments">
      <label>Make <%= Enrollment::PAYMENT_COUNT %>  monthly payments of <%= number_to_currency(Enrollment.payment_price) %> instead</label>
    </div>
  </div>

  <div class="control-group">
    <label></label>
    <%= f.submit "Apply now", :class => 'btn btn-block btn-primary' %>
  </div>

<% end %>
