<%= render partial: 'page_heading', locals: {
  title: link_to(post.title, post_url(post.permalink), style: "color: white")
} %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="post-meta">
        <div class="col-md-2 author-avatar">
          <%= image_tag(post.author_avatar, 
                        class: 'img-circle') %>
        </div>
        <div class="col-md-5">
          <div class="author-name">
            <%= link_to post.author_name, post.author_url %>
          </div>
          <div class="post-date">
            <%= post.created_at.to_date.to_s(:short) %>
            • <%= post.category_name %>
          </div>
        </div>
        <div class="col-md-4 pull-right">
          <ul class="list-inline list-share">
            <li class="heading">Share</li>
            <li><a class="icon-svg facebook-svg" href="https://www.facebook.com/sharer/sharer.php?u=<%= escape_javascript(post_url(post.permalink)) %>" target="_blank" title="Facebook"></a></li>
            <li><a class="icon-svg twitter-svg" href="https://twitter.com/share?text=<%= escape_javascript(post.title) %>&amp;url=<%= escape_javascript(post_url(post.permalink)) %>" target="_blank" title="Facebook"></a></li>
            <li><a class="icon-svg google-plus-svg" href="https://plus.google.com/share?url=<%= escape_javascript(post_url(post.permalink)) %>" target="_blank" title="Facebook"></a></li>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="article-html">
        <%= raw post.html %>
      </div>
    </div>
  </div>
</div>
