  <tr>
    <td><%= pending_row.id %></td>
    <td><%= pending_row.applied_on %></td>
    <td><%= pending_row.name %></td>
    <td><%= pending_row.email %></td>
    <td><%= pending_row.github_url %></td>
    <td><%= pending_row.why %></td>
    <td><%= link_to "reject", pending_row, method: :delete, data: { confirm: "You are about to reject #{pending_row.name}'s application. Are you sure?" } %></td>
  </tr>

